<div class="contact-wrapper">
    <ul>
        <li class="list-item">
            <img height="25px" src="assets/mobile.webp">
            <span>Mobile: <a href="tel:972502585344">050-258-5344</a></span>
        </li>
        <li class="list-item">
            <img height="30px" src="assets/whatsapp.png">
            <span>Whatsapp: <a href="https://wa.me/972502585344">050-258-5344</a></span>
        </li>
        <li class="list-item">
            <img height="25px" src="assets/mail.png">
            <span>
                Mail: <a href="mailto:mazcka@gmail.com">mazcka@gmail.com</a>
            </span>
        </li>
    </ul>
</div>