<div class="about-container">
    <div class="image-wrapper">
        <img src="assets/profile.png" height="400px">
    </div>
    <div class="content">
        <h4>Senior front-end engineer</h4>
        <h1>I'm Eyal, a web developer</h1>
        <p>Software engineer with more than 12 years of experience.<br>
            Extensive experience in development and design in various environments<br>
            and programming languages.
        </p>
        <span>Link to project's repo in
            <a href="https://github.com/mazcka/TasksBoard" target="_blank">
                <img src="assets/github.png" height="20px">
                Github
            </a>
        </span><br>
        <button (click)="onContactClick()">Contact me</button>
    </div>
</div>