:host {
    width: 100%;
    height: 100%;

    .layout {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "header content-wrapper"
            "nav content-wrapper";
        grid-template-columns: 200px 1fr;
        grid-template-rows: 90px 1fr;
        border-radius: 10px;
    }

    .shadow {
        box-shadow: 10px 10px 64px 10px rgba(115, 118, 122, 0.74);
        -webkit-box-shadow: 10px 10px 64px 10px rgba(115, 118, 122, 0.74);
        -moz-box-shadow: 10px 10px 64px 10px rgba(115, 118, 122, 0.74);
    }

    .header {
        grid-area: header;
        border-right: 1px solid #73767a;
    }

    .nav {
        grid-area: nav;
        border-right: 1px solid #73767a;
    }

    .content-wrapper {
        grid-area: content-wrapper;
        max-height: 100%;
        overflow-y: auto;
        padding: 15px;
    }
}
